body{
    margin: 0;
}

.div {
    display: flex;
}

.sidebarDiv {
    height: 100vh;
    width: 250px;
    background: white;
    
}

.mainDiv{
    flex: 1;
    background: black;
    height: 100vh;
}

.button{ 
    background-color:  rgb(168, 167, 167);
    color: black;
    font-size: 30px;
    padding: 10px 60px;
    border-radius: 10px;
    border: 2px solid rgb(58, 56, 55);
    cursor: pointer;
    height: 100px;
    width: 350px;
    margin: 25px;
    font-family: FreeMono, monospace;

}

.buttonDiv{
    display: grid;
    justify-content: center;
    border: 4px solid rgb(34, 32, 32);
    border-radius: 10px;
    width: 550px;
    height: 400px;
    margin: 60px auto auto auto ;
    
}

.buttonDiv p {
    color: rgb(168, 167, 167);
    font-size: 20px;
    text-align: center;
    margin: 0;
    font-family: FreeMono, monospace;
}
